layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
        }
        pane split_direction="horizontal" {
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
        }
        pane split_direction="horizontal" {
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
        }
        pane split_direction="horizontal" {
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
        }
        pane split_direction="horizontal" {
            pane command="python3" {
                args "hello_world.py"
            } 
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
        }
        pane split_direction="horizontal" {
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
        }
        pane split_direction="horizontal" {
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
        }
        pane split_direction="horizontal" {
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
        }
        pane split_direction="horizontal" {
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
        }
        pane split_direction="horizontal" {
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
            pane command="python3" {
                args "hello_world.py"
            }
        }
    }
}
